<!doctype html>

<title>We're Making a Wiki</title>
<link rel=stylesheet type=text/css href='{{ url_for('static', filename='style.css')}}'>
<div class=page>

<p> We have {{num}} pages so far. </p>

	<form id='firstpage_form' method='post' action='/'>
		<h1> Get started with your first page </h1>
		<p> Title: <input type='text' name='title'> </p>
		<p> Content: <input type='text' name='content'> </p>
		<p> <input type='submit' value='Okay'> </p>
	</form>

<ul>
	{% for item in order %}
		<li> <a href="{{ url_for('loadpage', title = item) }}">{{item}}</a>: {{pages[item][0]}} </li>
	{% endfor %}
</ul>

</div>