{% extends 'background.html' %}

{% block body %}

<h1>Add a new page: </h1><br>
<form id='add_page' method='post' action='/'>
  <p> Title: <br><input type='text' name='title' maxlength='255'> </p><br>
  <p> Content:<br> <textarea name='content' class='small' > </textarea></p><br>
  <p> <input type='submit' value='Okay'> </p>
</form>

<h1>Or check out an existing one: </h1>
  {% for entry in entries %}
    <h2><a href="{{ url_for('show_page', id=entry.id) }}">{{entry.title}}:</a></h2><p>{{ entry.content|safe }}</p> <em><p class=created>Created: {{ entry.created}}</p></em>
  {% else %}
  <p> Nothing to see here. </p>
  {% endfor %}


{% endblock %}